/*INFORMATION BASE*/
@font-face {
    font-family: orpheusPro;
    src: url('/fonts/OrpheusPro-Bold.ttf');
}
@font-face {
    font-family:tw-cen-mt ;
    src: url('/fonts/tw-cen-mt-6.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:$fontColor;
}
body{
    background-color: $backgroundColor;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}