nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0;
}
.buttomMenu{
    display: none;
}
.logo{
    width: 51px;
    margin-left: 80px;
    img{
        width: 100%;
    }
}
.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    .lineMenu{
        margin: 0 10px;
        flex-wrap: wrap;
        position: relative;
        cursor: pointer;
        &::before{
            content: "";
            transition: 200ms;
            width: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-bottom:2px solid orange ;            
        }
        &:hover::before{
            border-bottom:2px solid orange ;
            width: 100%;
        }
        a{
            text-decoration: none;
            color: #000;
        }
    }
}
.lineBottom{
    border-bottom:2px solid orange ;
    margin: 0 10px;
    flex-wrap: wrap;
    position: relative;
    cursor: pointer;
    a{
        text-decoration: none;
        color: #000;
    }
}