header{
    position: relative;
    z-index: 999;
    background-color: $backgroundColor;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0;
    position: relative;
    &__widthFixed{
        width: 100vw;
    }
}

.buttomMenu{
    display: none;
}
.logo{
    width: 51px;
    margin-left: 80px;
    img{
        width: 100%;
    }
}
#containerMenu{
    position: relative;
    margin-right: 40px;
}
.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    .lineMenu{
        margin: 0 10px;
        flex-wrap: wrap;
        position: relative;
        cursor: pointer;
        &::before{
            content: "";
            transition: 200ms;
            width: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-bottom:2px solid $squareOne ;            
        }
        &:hover::before{
            border-bottom:2px solid $squareOne ;
            width: 100%;
        }
        a{
            text-decoration: none;
            color: #000;
        }
    }
}
.lineBottom{
    border-bottom:2px solid $squareOne ;
    margin: 0 10px;
    flex-wrap: wrap;
    position: relative;
    cursor: pointer;
    a{
        text-decoration: none;
        color: #000;
    }
}
.moveHeader{
    position: fixed;
    z-index: 999;
}
.leftItemMenu{
    left:80px
}
.rightItemMenu{
    right:40px;
}