@media (max-width:870px) {
    .menu{
        display: none;
        position: absolute;
        background-color: $backgroundColor;
        right: 0;
        width: 180px;
        padding: 5px 0;
        li{
            padding: 10px 0;
        }
    }
    .buttomMenu{
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        span{
            background-color: $fontColor;
            display: block;
            width: 30px;
            min-height: 5px;
            &:not(:last-child){
                margin-bottom: 2px;
              }
        }
    }
}