.sectionOne{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'carrocelImg modeloImg';
}
.carrocelImg{
    width: 100%;
    grid-area: "carrocelImg";
    @extend .flex;
}
.biochectomia{
    height: calc(100vh - 130px);
    width: 400px;
    display: none;
    h1{
        font-size: 1.875em;
        font-size: 30pt;
        margin:70px 0;
    }
    p{
        width: 200px;
        margin: 70px 0 40px 0;
    }
    .buttom{
        span{
            img{
                width: 100px;
                border-radius: 50px;
            }
        }
    }
}
.moreKnow{
    margin-bottom: 130px;
    cursor: pointer;
    border: none;
    color: black;
    background-color: orange;
    padding: 10px;
}

.modeloImg{
    width: 100%;
    height: calc(100vh - 130px);
    grid-area:" modeloImg";
    position: relative;
    text-align: right;
    margin: 12px 0 0 0;
    img{
        width: 545px;
    }
    
}
.div-float-left{
    position: absolute;
    right: 0;
    top:-12px;
    width: 237px;
    height: 12px;
    background-color: chocolate;
}
.div-float-right{
    position: absolute;
    right: 237px;
    top: 0;
    height: 12px;
    width: 305px;
    background-color: rgb(104, 60, 9);
}
.active{
    display: block;
    transition-delay: 20s;
}