.sectionOne{
    height: calc(100vh - 116px);
    width: 100%;
    display: grid;
    grid-template-areas: 
    'carrocelImg modeloImg';
    .carrocelImg{
        width: 100%;
        height: calc(100vh - 116px);
        grid-area: "carrocelImg";
        @extend .flex;
        .biochectomia{
            width: 400px;
            h1{
                font-size: 1.875em;
                font-size: 30pt;
                margin:70px 0;
            }
            p{
                width: 200px;
                margin: 70px 0 40px 0;
            }
            .moreKnow{
                margin-bottom: 130px;
                cursor: pointer;
                border: none;
                color: black;
                background-color: orange;
                padding: 10px;
            }
            .buttom{
                border: 2px solid black;
                text-align: center;
                a{
                    img{
                        width: 100px;
                        border: 1px solid red;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
    .modeloImg{
        width: 100%;
        height: calc(100vh - 116px);
        grid-area:" modeloImg";
        position: relative;
        justify-content: center;
        
    }
}