.sectionOne {
    height: calc(100vh - 130px);
    width: 100%;
    display: grid;
    grid-template-areas: "carrocelImg modeloImg";
}
.carrocelImg {
    margin: 0 auto;
    width: 100%;
    grid-area: "carrocelImg";
    @extend .flex;
}
.biochectomia {
    min-width: 400px;
    display: none;
    margin-left: 50px;
    h1 {
        font-size: 1.875em;
        font-size: 30pt;
        margin: 70px 0;
    }
    p {
        width: 200px;
        margin: 70px 0 40px 0;
    }
}
.moreKnow {
    margin-bottom: 130px;
    a {
        width: 40px;
        cursor: pointer;
        border: none;
        background-color: $squareOne;
        padding: 10px;
        position: relative;
        text-decoration: none;
        &:hover::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            animation: mymove 1s infinite;
        }
    }
}
@keyframes mymove {
    0% {
        border: 0px;
    }
    25% {
        border: 3px solid $squareOne;
    }
    50% {
        border: 7px solid $squareOne;
    }
    75% {
        border: 3px solid $squareOne;
    }
    100% {
        border: 0px;
    }
}
.buttom {
    span {
        img {
            width: 100px;
            border-radius: 50px;
        }
    }
}
.modeloImg {
    max-width: 100%;
    min-width: 400px;
    grid-area: " modeloImg";
    position: relative;
    text-align: right;
    overflow: hidden;
    img {
        width: 545px;
    }
}
.div-float-left {
    position: absolute;
    right: 0;
    top: -12px;
    width: 237px;
    height: 12px;
    background-color: $squareTwo;
}
.div-float-right {
    position: absolute;
    right: 237px;
    top: 0;
    height: 12px;
    width: 305px;
    background-color: $squareOne;
}
.newClass {
    margin: 12px 0 0 0;
    display: none;
}
.active {
    display: block;
    transition-delay: 20s;
}
